@page "/"

<PageTitle>Info Digital Signature UI project</PageTitle>

<h1>Web user interface for using digital signature</h1>

This project is an example of use of the standard digital signature library, it allows you to create the digital identity at first start, sign the documents and validate the signatures created with the standard method by any user.

<SurveyPrompt Title="More information is available on the open source project on github" />
